REDDIT_CLIENT_NAME=YuMiBot
REDDIT_CLIENT_ID=your_client_id_here
REDDIT_CLIENT_SECRET=your_client_secret_here
REDDIT_REFRESH_TOKEN=your_refresh_token_here
REDDIT_USER_AGENT=mynewsbot/0.1 by u/yourusername
REDDIT_USERNAME=your_username_here
REDDIT_PASSWORD=your_password_here
DB_PATH=./db.sqlite
MEDIA_DIR=./media
REDIRECT_PORT=8000


